* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #0E0E0E;
}



#full_stack_conteiner {
    display: flex;
    max-width: 840px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background: #0E0E0E;
    min-height: 1446px;
    
}



#header_conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 72px;
    flex-wrap: wrap;
    min-width: 840px;
    width: 100%;
    gap: 50px;
    
}




#burger_logo{
    display: none;
}



#header_box{
    display: flex;
    align-items: center;
    max-width: 840px;
    width: 100%;
    justify-content: space-around;
  
    

}




#nav_ul {
    display: flex;
    list-style: none;
    gap: 24px;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.diferent_li {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



#nav_ul :hover {
    color: #FFF;
}



#white_title {
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}



#titile_box {
    display: flex;
    gap: 0px;
}



#red_title {
    color: #A00;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}


#avatar_box {
    display: flex;
    align-items: center;
    gap: 12px;
}



#bat_conteiner {
    width: 370px;
    height: 472px;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-image: url(../images/batman.png);
}



#Batman_conteiner {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 100%;
    height: 472px;
    border-radius: 16px;
    background-image: url(../images/cover_car.png);
    background-repeat: no-repeat;
}



#Recommended_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 530px;
    width: 100%;
    height: 104px;
}



#Recommended_title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}



#main_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}



#foto_conteiner {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 840px;
    width: 100%;
}



#cards_style {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/img1.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}



#cards_style2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image2.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}



#cards_style2:hover {
    filter: blur(5px);
}



.show_button_2 {
    display: flex;
    display: none;
    background-color: rgba (0, 0, 0, 0, 7);
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00;
    border: none;
    cursor: pointer;
    z-index: 2;
}




#cards_style2:hover .show_button_2 {
    display: block;
}




#cards_style3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image3.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}




#cards_style3 :hover {
    filter: blur(5px);
}




#cards_style3:hover .show_button_2 {
    display: block;
}




#cards_style4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image4.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}



#cards_style4 :hover {
    filter: blur(5px);
    width: 192px;
}




#cards_style4:hover .show_button_2 {
    display: block;
}




#cards_style5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image5.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}




#cards_style5 :hover {
    filter: blur(5px);
}




#cards_style5:hover .show_button_2 {
    display: block;
}





#cards_style6 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image6.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}




#cards_style6 :hover {
    filter: blur(5px);
}





#cards_style6:hover .show_button_2 {
    display: block;
}





#cards_style7 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image7.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}



#cards_style7 :hover {
    filter: blur(5px);
}




#cards_style7:hover .show_button_2 {
    display: block;
}




#cards_style8 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image8.png);
    width: 192px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}




#cards_style8 :hover {
    filter: blur(5px);
}




#cards_style8:hover .show_button_2 {
    display: block;
}





#batman_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 355px;
    max-height: 390px;
    padding: 40px;
}


#batt_first_box {
    display: flex;
    flex-direction: column;
}



#butt_last_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}




.batt_gray_text {
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




#batt_postition {
    display: flex;
    gap: 8px;
}



#battman_title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}



#butt_botton {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 135px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00
}




#button_position{
    display: flex;
    gap: 8px;
}




#butt_year {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



#butt_paragraf {
    color: #7B7B7B;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}




.card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 12px 24px;
    gap: 10px;
    border: 0;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00;
}



#search_div {
    display: flex;
    justify-content: center;
    width: 529px;
    padding: 8px 16px 8px 12px;
    gap: 10px;
    height: 40px;
    border-radius: 24px;

}




form {
    display: flex;
    align-items: center;
    gap: 16px;
}




form :active{
    border-radius: 24px;
    border: 1px solid #A00;
    background: #191919;
    
}




#search_box {
    display: flex;
    padding: 8px 16px 8px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    height: 40px;
    background: #191919;
}




#search_style {
    display: flex;
    background: #191919;
    border: 0;
}




#Year_style {
    padding: 9px 14px;
    background: #191919;
    border: 0;
    width: 100px;
    border-radius: 24px;
    height: 40px;
    color: #7B7B7B;
}




.placeholder_style {
    font-size: 16px;
    font-weight: 400;
}



#category_style{
    padding: 9px 14px;
    background: #191919;
    border: 0;
    width: 133px;
    border-radius: 24px;
    height: 40px;
    color: #7B7B7B;
}


/*___________tablet__________*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
   #full_stack_conteiner{
    align-items: center;
    max-width: 704px;
    width: 100%;
    max-height: 1446px;
   }




   #burger_{
    display: none;
   }




   .show_button_2{
    width: 158px;
    height: 219px;
   }
}




/* ________mobile________________ */
@media screen and (min-width: 320px) and (max-width: 767px) {
     #full_stack_conteiner{
        max-width: 768px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        min-height: 2883px;
     }




     #header_conteiner{
        display: flex;
        min-width:320px ;
        justify-content: space-between;
     }



    #nav_ul{
        display: none;
    }



    .diferent_li{
        display: none;
    }



    #main_conteiner{
        max-width: 288px;
        width: 100%;
    }



    form{
        flex-direction: column;
        margin-bottom: 20px;
       
    }



   #button_position{
      gap: 8px;
      margin-bottom: 32px;
   }



    .show_button_2{
        width: 288px;
        height: 219px;
    }



   #foto_conteiner{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }



   #batman_conteiner{
      width: 100%;
   }



   #star_icon{
     width: 137px;
     height: 24px;
   }
}
