*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #770e0e;
}


#full_stack_conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 1446px;
    gap: 32px;
    background: #0E0E0E;
}

#header_conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}

#nav_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 840px;
    height: 40px;
}


#nav_ul{
    display: flex;
    list-style: none;
    gap: 24px;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.diferent_li{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#nav_ul :hover{
    color: #FFF;
}


#white_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}


#titile_box{
    display: flex;
    gap: 0px;
}

#red_title{
    color: #A00;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

#avatar_box{
    display: flex;
    align-items: center;
    gap: 12px;
}


#Batman_conteiner{
    display: flex;
    width: 840px;
    height: 370px;
    background-image: url(../images/batman.png);
    background-image: url(../images/cover_car.png);
    background-repeat: no-repeat;
}

#Recommended_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 530px;
    height: 104px;
    background-color: chocolate;
}


#Recommended_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}



#main_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#foto_conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 462px;
    width: 840px;
}

.foto_sixe{
    width: 192px;
    height: 219px;
}


#batman_text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 355px;
    height: 390px;
    padding: 40px;
}


#batt_first_box{
    display: flex;
    flex-direction: column;
}



#butt_last_box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.batt_gray_text{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}


#batt_postition{
    display: flex;
    gap: 8px;
}



#battman_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}



#butt_botton{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 135px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00
}



#butt_year{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}



#butt_paragraf{
    color: #7B7B7B;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


#reco_buttons{
      
}