*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0E0E0E;
}



#full_stack_conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 20px;
    background: #0E0E0E;
}




#header_conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 768px;
}




#nav_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}




#nav_ul{
    display: flex;
    list-style: none;
    gap: 24px;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




.diferent_li{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




#nav_ul :hover{
    color: #FFF;
}




#white_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}





#titile_box{
    display: flex;
    gap: 0px;
}




#red_title{
    color: #A00;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}



#avatar_box{
    display: flex;
    align-items: center;
    gap: 12px;
}





#bat_conteiner{
   width: 370px;
   height: 472px;
   align-items: flex-end;
   background-repeat: no-repeat;
   background-image: url(../images/batman.png);
}





#Batman_conteiner{
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 100%;
    height: 472px;
    border-radius: 16px;
    background-image: url(../images/cover_car.png);
    background-repeat: no-repeat;
}




#Recommended_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    max-width: 530px;
    width: 100%;
    height: 104px;
    background-color: chocolate;
}




#Recommended_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}






#main_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}




#foto_conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 462px;
    width: 840px;
}




#cards_style{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/img1.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}




#cards_style2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image2.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}




#cards_style2:hover{
    filter: blur(5px);
}




.show_button_2{
    display: flex;
    display: none;
    background-color: rgba (0, 0, 0, 0,7);
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00;
    border: none;
    cursor: pointer;
    z-index: 2;
}





#cards_style2:hover .show_button_2{
    display: block;
}






#cards_style3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image3.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}


#cards_style3 :hover{
    filter: blur(5px);
}


#cards_style3:hover .show_button_2{
    display: block;
}


#cards_style4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image4.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}

#cards_style4 :hover{
    filter: blur(5px);
}


#cards_style4:hover .show_button_2{
    display: block;
}


#cards_style5{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image5.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}

#cards_style5 :hover{
    filter: blur(5px);
}


#cards_style5:hover .show_button_2{
    display: block;
}



#cards_style6{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image6.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}

#cards_style6 :hover{
    filter: blur(5px);
}


#cards_style6:hover .show_button_2{
    display: block;
}


#cards_style7{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image7.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}

#cards_style7 :hover{
    filter: blur(5px);
}


#cards_style7:hover .show_button_2{
    display: block;
}


#cards_style8{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: url(../images/image8.png);
    width: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: filter 0.3s ease;
}

#cards_style8 :hover{
    filter: blur(5px);
}


#cards_style8:hover .show_button_2{
    display: block;
}







#batman_text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 355px;
    max-height: 390px;
    padding: 40px;
}


#batt_first_box{
    display: flex;
    flex-direction: column;
}



#butt_last_box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.batt_gray_text{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}


#batt_postition{
    display: flex;
    gap: 8px;
}



#battman_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}



#butt_botton{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 135px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00
}



#butt_year{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}



#butt_paragraf{
    color: #7B7B7B;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


#reco_buttons{
      
}

.card_button{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 12px 24px;
    gap: 10px;
    border: 0;
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11.9px 0px #A00;
}

